[submodule "deps/OpenFL"]
	path = deps/OpenFL
	url = https://github.com/Open-FL/OpenFL
	branch = master
[submodule "deps/CommandlineSystem"]
	path = deps/CommandlineSystem
	url = https://github.com/Open-FL/CommandlineSystem
	branch = master
[submodule "deps/PluginSystem.Repository"]
	path = deps/PluginSystem.Repository
	url = https://github.com/Open-FL/PluginSystem.Repository
	branch = master
